<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        *{
    margin: 0;padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background: #f1f1f1;
    background: url('../images/banner.jpg') no-repeat center center fixed;
    background-image: linear-gradient(120deg, #f196ec 0%, #80056f 100%);
    background-size: cover;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    background: #f9f9f9;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

}

input[type="submit"] {
    background: linear-gradient(to right, #4caf50, #2e8540);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #2e8540, #4caf50);
}
    </style>
</head>
<body>
<div>
    <nav>
        <h4>Gureum</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>
</div>

    <div class="container" ">
        <h2>Register</h2>
        <form action="/" method="get">
           
            <label>Username</label>
            <input placeholder="Enter your username" type="text" name="username">
           
            <label>Email</label>
            <input placeholder="Enter your email" type="text" name="email">

            <label>Phone Number</label>
            <input  placeholder="Enter your phone number" type="text" name="phoneNumber">

            <label>Password</label>
            <input placeholder="Enter your password"  type="password" name="password" >
            
            <label>Confirm password</label>
            <input placeholder="Enter your password"  type="password" name="confirmPassword">

            <!-- <div style="text-align: center; margin: 20px 20px;"> -->
            <button type="submit" class="btn btn-primary">Enter</button>
            <!-- </div> -->
            <div style="text-align: center;">
                <a class="btn btn-primary" style=" background: linear-gradient(to right, #2e8540, #4caf50);" href="/" role="button">Login an Account</a>
                <a href="">Forget password?</a>
                </div>
        </form>
    </div>
</body>
</html>